* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

body {
	position: relative;
	min-height: 100vh;
}

body.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

/* helpers flex */
.flex {
	display: flex;
}
.f-ai-center {
	align-items: center;
}
.f-jc-sb {
	justify-content: space-between;
}

.divider {
	margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.cursiva {
	font-family: 'Lato', sans-serif;
	text-transform: lowercase;
	font-style: italic;
	color: crimson;
}

a {
	text-decoration: none;
	color: #000;
	padding-bottom: 5px;
	transition: border .3s ease;
	border-bottom: 0 solid transparent;
}

a:hover {
	cursor: pointer;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}

header {
	display: flex;
	padding: 20px 0;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
	margin-bottom: 3rem;
}

header nav a {
	margin-left: 8px;
	display: inline-block;
}

.subtitulo {
	display: inline-block;
	margin-bottom: 20px;
	position: relative;
}

.subtitulo::before {
	content: '';
	width: 40px;
	height: 2px;
	background-color: #ccc;
	position: absolute;
	bottom: -10px;
	left: -10px;
}

.alumnos {
	margin: 20px 0;
}

.alumnos a {
	display: inline-block;
	width: auto;
	margin-bottom: 20px;
}

.alumnos .alumno {
	text-align: center;
}

.alumnos .alumno img {
	transition: border .3s ease;
	margin-bottom: 1.2rem;
	border-radius: 50%;
	border: 2px solid transparent;
}

.alumnos .alumno img:hover {
	border-color: crimson;
}

article {
	margin: 40px 0;
}

footer {
	background-color: #e0e0e0;
	padding: 20px 30px;
	font-size: 0.8rem;
	text-align: center;
	/* position: relative;
	width: 100%;
	bottom: 0;
	left: 0; */
}
