* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

body {
	position: relative;
	height: 100vh;
}

/* helpers flex */
.flex {
	display: flex;
}
.f-ai-center {
	align-items: center;
}
.f-jc-sb {
	justify-content: space-between;
}
.f-column {
    flex-flow: column;
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}

header {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

nav {
    padding: 20px 0;
}

nav a {
    font-size: .7rem;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: blanchedalmond;
    color: #000;
}